{:version 1 :tested-at "2026-10-10T11:50:59+08:00" :source "client/WeaponAim.lua" :namespace "client.WeaponAim" :outcomes {"[\"client/WeaponAim.lua\",\"client.WeaponAim\",\"defn/Aim:AttackPayload\",340,343,\"not\",\"\"]" :killed "[\"client/WeaponAim.lua\",\"client.WeaponAim\",\"defn/Aim:AttackPayload\",479,482,\"not\",\"\"]" :killed "[\"client/WeaponAim.lua\",\"client.WeaponAim\",\"defn/Aim:AttackPayload\",486,488,\"or\",\"and\"]" :survived "[\"client/WeaponAim.lua\",\"client.WeaponAim\",\"defn/Aim:AttackPayload\",489,492,\"not\",\"\"]" :killed} :forms [{:id "defn/Aim:AttackPayload" :kind "defn" :file "client/WeaponAim.lua" :line 4 :end-line 15 :hash "c300ef334cc338edcc3cf4fbbb11b6fa3949435dd46b080fe782866c0e6cbdaa" :killed 3 :survived 1 :uncovered 0 :sites 4}]}
