{:version 1 :tested-at "2026-10-10T11:50:59+08:00" :source "common/AbilityAPIBase.lua" :namespace "common.AbilityAPIBase" :outcomes {"[\"common/AbilityAPIBase.lua\",\"common.AbilityAPIBase\",\"defn/AbilityAPIBase.build\",1552,1554,\"or\",\"and\"]" :killed "[\"common/AbilityAPIBase.lua\",\"common.AbilityAPIBase\",\"defn/AbilityAPIBase.build\",1652,1655,\"and\",\"or\"]" :killed "[\"common/AbilityAPIBase.lua\",\"common.AbilityAPIBase\",\"defn/AbilityAPIBase.build\",1686,1688,\"~=\",\"==\"]" :killed} :forms [{:id "defn/AbilityAPIBase.build" :kind "defn" :file "common/AbilityAPIBase.lua" :line 42 :end-line 55 :hash "833da2eb8cf55b54106766a3b391fec5f463f7ce52efdc2bffca4ef3944d1903" :killed 3 :survived 0 :uncovered 0 :sites 3}]}
