{:version 1 :tested-at "2026-10-10T11:50:59+08:00" :source "common/REUtil.lua" :namespace "common.REUtil" :outcomes {"[\"common/REUtil.lua\",\"common.REUtil\",\"defn/REUtil:GetRE\",238,241,\"not\",\"\"]" :killed} :forms [{:id "defn/REUtil:GetRE" :kind "defn" :file "common/REUtil.lua" :line 11 :end-line 20 :hash "9c33846cec555b6f143e32f846812f377903c4f7c76c63ca9e4aa6d6cbc1bfd7" :killed 1 :survived 0 :uncovered 0 :sites 1} {:id "defn/REUtil:CheckRECD" :kind "defn" :file "common/REUtil.lua" :line 23 :end-line 40 :hash "8e02c6e5f88119822080e0ce3992fafc910d9cfa4a8fecbf1435a8e1ef4fe9b7" :killed 0 :survived 0 :uncovered 8 :sites 8}]}
