{:version 1 :tested-at "2026-10-10T11:50:59+08:00" :source "server/AiAPI.lua" :namespace "server.AiAPI" :outcomes {"[\"server/AiAPI.lua\",\"server.AiAPI\",\"defn/AiAPI.HasActiveMove\",923,925,\"~=\",\"==\"]" :survived "[\"server/AiAPI.lua\",\"server.AiAPI\",\"defn/AiAPI.HasActiveMove\",930,933,\"and\",\"or\"]" :killed "[\"server/AiAPI.lua\",\"server.AiAPI\",\"defn/AiAPI.HasActiveMove\",949,951,\"~=\",\"==\"]" :killed "[\"server/AiAPI.lua\",\"server.AiAPI\",\"defn/AiAPI.HasActiveMove\",956,959,\"and\",\"or\"]" :killed "[\"server/AiAPI.lua\",\"server.AiAPI\",\"defn/AiAPI.HasActiveMove\",960,963,\"not\",\"\"]" :survived} :forms [{:id "defn/AiAPI.HasActiveMove" :kind "defn" :file "server/AiAPI.lua" :line 13 :end-line 16 :hash "d2cad56172d7aedb6c688b74dd732dbec828d6e2caf3b82fea96725f67a6e19a" :killed 3 :survived 2 :uncovered 0 :sites 5}]}
